@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,500&display=swap');

:root {
  --warna-aksen:#20245e;
  --warna-primary: #fefefe;
  --warna-secondary: #efefef;
}

*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}


body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

.judul-example{
  margin: 20px auto;
  width: 87%;
  
}

.container {
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.profile-header {
  text-align: center;
}
.profile-header img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.profile-header h1 {
  margin: 10px 0;
  font-size: 24px;
}
.profile-header p {
  color: #888;
  margin: 5px 0;
}
.profile-section {
  margin-top: 20px;
}
.profile-section h2 {
  font-size: 20px;
  margin-bottom: 10px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}
.profile-section p {
  margin: 5px 0;
}
.profile-section ul {
  list-style-type: none;
  padding: 0;
}
.profile-section ul li {
  margin-bottom: 5px;
}
.profile-buttons {
  margin-top: 20px;
  text-align: center;
}
.profile-buttons button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.profile-buttons button:hover {
  background-color: #0056b3;
}
.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.profile-buttons-edit {
  margin-top: 20px;
  text-align: center;
}
.profile-buttons-edit button {
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  border: none;
  width: 60%;
  padding: 10px 15px;
  color: #fff;
  border-radius: 25px;
  margin-top: 20px;
  transition: background-color 0.3s ease;

}
.profile-buttons-edit button:hover {
  background-color: #0056b3;
}
.button-edit {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.button-edit:hover {
  background-color: #0056b3;
}

.basic-info-form {
  margin-bottom: 10px
}

input[type=text], 
input[type=email], 
input[type=date], 
input[type=password], 
input[type=tel],
select {
  width: 100%;
  padding: 12px 20px;
  /* margin: 8px 0; */
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.image-setting {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.image-setting-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.history-card{
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(195, 195, 195);
}

.keterangan-history{
  text-align: right;
}

.gambar-produk-history{
  width: 20%;
  display: flex;
  justify-content: center;
}

.gambar-produk-history img{
  width: 100%;
}

.nama-produk{
  font-weight: 600;
  margin-bottom: 0px;
}

.jumlah-beli{
  font-size: .8rem;
  color: #888;
  line-height: 10px;
}

.total-harga-history{
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 2px;
}

.status-pembelian{
  text-align: center;
  font-size: 1rem;
  padding: 5px 0;
  border-radius: 5px;
  color: orange;
}

.diproses{
  border: 1px solid orange;
  color: orange;
}

.berhasil{
  border: 1px solid green;
  color: green;
}

/* Aku nambahin dari sini, benerin bug navbar pakai !important buat maksa*/
.search {
  padding: 7px 0 7px 2.5rem !important; 
  width: 15rem !important;
  text-align: left !important;
  background-color: #efefef !important;
  border: none !important;
  border-radius: 20px !important;
}

header{
  display: flex;
  justify-content: center;
}

header nav{
  width: 90%;
  padding-top: 1rem;


  display: flex;
  flex-direction: row;

  justify-content: space-around;
  align-items: center;

  z-index: 100;

  background-color: white;
}



header nav ul{
  display: flex;
  justify-content: center;
  gap: 1rem 2rem;
}

header nav ul .satu, .dua, .tiga, .empat{
  list-style: none;
}

header nav ul li a{
  text-decoration: none;
  font-size: 1rem;
  color: #20245e;

  transition: .3s ease-in-out;
}

a:hover{
  color: var(--warna-aksen);
}

.logo-header{
  display: flex;
  flex: 1;
  width: 30px;
  border-radius: 13px;
}

.logo{
  text-decoration: none;
}


.logotype{
  color: var(--warna-aksen);
  font-weight: 600;

  text-decoration: none;
}

.sidebar{
  display: none;
  flex-direction: column;
  position: fixed;

  height: 100vh;
  width: 40%;
  top: 0;
  right: 0;

  padding-left: 1rem;

  background-color: var(--warna-aksen);
  border-left: 2px solid #fefefe;
}

header nav ul .side-satu, .side-dua, .side-tiga, .side-empat{
  list-style: none;
}

.sidebar a{
  color: #fefefe;
}

.sidebar a:hover{
  color: #efefef;
}

.hamburger{
  display: none;
  flex: 3;
}

.close{
  list-style: none;
}

.search-n-login{
  display: flex;
  justify-content: center;
  flex-direction: row;

  gap: 1rem;
}

.search{
  padding: 7px 0 7px 2.5rem;
  width: 15rem;
  text-align: left;

  background-color: #efefef;
  border: none;
  border-radius: 20px;
}


input:focus {
  border: 1px solid var(--warna-aksen);
  background-color: #ececec;
  outline: none;
}

.search-field svg{
  position: absolute;
  margin-top: 7px;
  margin-left: 10px;
}

footer{
  background-color: #20245e;
  color: white;
  width: 100%;
  margin: auto;
  padding: 3rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 3rem;
}


footer p, footer a{
  padding: 1rem 0;
  color: white;
}

/* untuk edit foto profile */
.input-edit-foto-profile {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  margin-top: 10px;
  cursor: pointer;
}